<article>
    <h1>{{item.itemName}}</h1>
    <address>Listed by {{seller.firstName}} {{seller.lastName}}</address>
    <img src="../../public/items/{{item.itemImage}}" class="single-page-img" />
    <p>{{item.itemDescription}}</p>
    <section>
        <p>Asking Price: ${{item.askingPrice}}</p>
        {{#if item.currentBidderId}}
        <p>Current Bid: ${{item.currentBid}}</p>
        {{else}}
        <p>You can be the first to bid on this item!</p>
        {{/if}}
        <form method="POST" action="" id="new_bid_form" enctype="multipart/form-data">
            <label for="starting_bid">Place Bid:</label>
            <input type="number" name="new_bid" id="new_bid" placeholder="Enter your starting bid here" />
        </form>
    </section>
    <section>
        <p>Start Date: {{item.startDate}}</p>
        <p>End Date: {{item.endDate}}</p>
    </section>
    {{#if item.tags.length}}
    <section>
        <h2>Tags:</h2>
        <ul>
            {{#each item.tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
    {{/if}}
    <section>
        <h2>Comments:</h2>
        <ul>
            {{#each comments}}
            <li>{{this.dateCommented}} - {{this.commenter}}: {{this.comment}}</li>
            {{/each}}
            <li>This is where you will be able to add a new comment</li>
        </ul>
    </section>
    <p><a href="/">Back to Home</a></p>
</article>