<article>
    <h1>{{item.itemName}}</h1>
    <address>Listed by {{seller.firstName}} {{seller.lastName}}</address>
    <img src="../../public/items/{{item.itemImage}}" class="single-page-img" />
    <p>{{item.itemDescription}}</p>
    <section>
        <p>Asking Price: ${{item.askingPrice}}</p>
        {{#if item.currentBidderId}}
        <p>Current Bid: ${{item.currentBid}}</p>
        {{else}}
        <p>You can be the first to bid on this item!</p>
        {{/if}}
        {{#if loggedIn}}
        {{#if available}}
        {{#unless self}}
        <form method="POST" action="" id="new_bid_form">
            <label for="new_bid">Place Bid:</label>
            <input type="number" name="new_bid" id="new_bid" placeholder="Enter your starting bid here" />
            <button type="submit">Submit</button>
        </form>
        {{/unless}}
        {{else}}{{#if available}}<p>You can place a bid if you are logged in. <a href="/login">Login</a></p>{{/if}}
        {{#if bidErrorMessage}}
        <p>{{bidErrorMessage}}</p> {{/if}}
        {{/if}}
        {{/if}}
    </section>
    <section>
        <p id="startDate">Start Date: {{item.startDate}}</p>
        <p id="endDate">End Date: {{item.endDate}}</p>
        <p id="timer"></p>

    </section>
    {{#if item.tags.length}}
    <section>
        <h2>Tags:</h2>
        <ul>
            {{#each item.tags}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
    {{/if}}
    <section>
        <h2>Comments:</h2>
        <ul>
            {{#each comments}}
            <li>{{this.dateCommented}} - {{this.commenter}}: {{this.comment}}</li>
            {{/each}}

        </ul>
        {{#if loggedIn}}
        <form method="POST" action="/items/comments" id="new_comment_form">
            <label for="new_comment">Comment:</label>
            <input type="text" name="new_comment" id="new_comment" placeholder="Enter your comment here" />
            <button type="submit">Submit</button>
        </form>
        {{#if commentErrorMessage}}
        <p>{{commentErrorMessage}}</p>{{/if}}
        {{else}}
        <p>You can leave a comment if you are logged in. <a href="/login">Login</a></p>
        {{/if}}
    </section>
    <p><a href="/">Back to Home</a></p>
<script src="../../public/js/countdown.js" async></script>
</article>